/* Hide the scrollbar while still allowing scroll */
.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.custom-scroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
